<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<title>Angular Name Badges</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body ng-controller="myController">
	<div class="container">
		<div class="well">
			<div class="row">
				<input type="text" placeholder="First Name" ng-model="newBadge.firstName" class="lefty">
				<input type="text" placeholder="Last Name" ng-model="newBadge.lastName" class="pull-right">
			</div>
			<div class="row">
				<input type="text" placeholder="Email" ng-model="newBadge.email" class="lefty">
				<input type="text" placeholder="Place of Birth" ng-model="newBadge.birthPlace" class="pull-right">
			</div>
			<div class="row">
				<input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Phone" ng-model="newBadge.phone" class="lefty">
				<input type="text" placeholder="Favorite Food" ng-model="newBadge.food" class="pull-right">
			</div>
			<div class="row">
				<input type="text" placeholder="Tell us about yourself." ng-model="newBadge.bio" class="bioID">
			</div>
			<div class="row">
				<button class="submit" ng-click="submission(newBadge)" ng-disabled="!(!!newBadge.firstName && !!newBadge.lastName  && !!newBadge.email && !!newBadge.birthPlace && !!newBadge.phone && !!newBadge.food && !!newBadge.bio)">Submit</button>
			</div>
		</div>

		<div class="newspot"></div>
	</div>

	
	<div class="well created" ng-repeat="badge in badges">
		<div class="row">
			<h4>HELLO! MY NAME IS:</h4></div>
		<div class="row">
			<div class="madeInput">{{badge.firstName}}</div>
			<div class="madeInput pull-right">{{badge.lastName}}</div>
		</div>
		<div class="row">
			<div class="madeInput">{{badge.email}}</div>
			<div class="madeInput pull-right">{{badge.birthPlace}}</div>
		</div>
		<div class="row">
			<div class="madeInput">{{badge.phone}}</div>
			<div class="madeInput pull-right">{{badge.food}}</div>
		</div>
		<div class="row">
			<div class="madeInput" id="bioo">{{badge.bio}}</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="app.js"></script>
</body>

</html>