input{
	width: 40%;
	border-radius: 5px;
	border: 1px solid black;
	margin: 5px;
}

.well {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.created {
	background-color: red;
}

.otherCreated {
	background-color: blue;
}

.created h4 {
	color: white;
}

.bioID {
	width: 85%;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	vertical-align: top;
}

.submit {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.madeInput {
	display: inline-block;
	width: 40%;
	border-radius: 5px;
	border: 1px solid black;
	margin: 5px;
	background-color: white;
	height: 1.5em;
}

#bioo {
	width: 85%;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	vertical-align: top;
}

h4 {
	text-align: center;
}