.col-3 {
    display: block;
    width: 32%;
    padding-bottom: 15px;
}

.col-6 {
    padding-bottom: 30px;
}

html {
    background-image: url(img/mario-azzi-28007.jpg);
    background-size: cover;
    color: white;
    text-shadow: .5px .5px #ddd;
}

#age-input {
	width: 30px;
	margin-left: 43px;
}

button {
	background-color: #ccc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}