.navbar-nav > li {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	margin-top: 10px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar {
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.navbar-form {
	position: relative;
}

.navbar-brand {
	margin-top: 10px;
}

.navbar .container-fluid button {
	margin-top: 23px;
}
