table {
    font-family: arial, sans-sefif;
    border-collapse: collapse;
    width: 100%;
    border-color: black;
}

td, th {
    border: 2px solid antiquewhite;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}