.todolist {
	text-align: center;
	list-style-type: none;
}

.todotitle {
	
}

.todoinfo {
	
}

li {
	background-color: rgba(0, 0, 50, 0.2);
	border: 10px;
	border-style: solid;
	border-color: rgba(0, 0, 100, 0.2);
	margin-top: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

html {
	background-image: url(img/sergei-akulich-41840.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

form {
	text-align: center;
	width: 100%;
}

input {
	background-color: #FFE37E;
	border-radius: 100px;
	margin-left: 3px;
}

button {
	background-color: #FFE37E;
	border-radius: 100px;
	margin-bottom: 10px;
}

button:hover {
	background-color: white;
}

input:hover {
	background-color: white;
}

#post {
	background-color: orange;
	color: darkblue;
}

.completed {
	background-color: red;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-bottom: 10px;
	opacity: 0.8;
}